{%extends "layout.html" %}

{%block main%}

    <form action = "/password_change" method = "post">
        <input name = "username" type = "text" placeholder = "username" required>
        <input name = "old" type = "text" placeholder = "old_password" required>
        <input name = "new_password" placeholder = "password" type = "password" required>
        <input name = "confirmation" type = "password" placeholder = "password" required>
        <button type = "submit" >Confirm</button>
    </form>
{%endblock%}